header {
    text-align: center;
    color: white;
    font-size: 25px;
    background-image: url(imgs/turf.jpg);

}

button {
    background-color: brown;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 10px;
    font-size: 30px;
}

.tableBorder {
    border: 5px solid red;
    background-image: url(imgs/Blue\ Gradient.jpg);
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.subTitle {
    font-size: 25px
}

p:hover {
    background-color: darkgreen;
    color: #BFD5BE;
}

p {
    font-size: 20px;
}

body {
    background-color: #BFD5BE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clickable:hover {
    font-size: 35px;
    background-color: burlywood;
}

img {
    filter: saturate(25%);
}

img:hover {
    filter: saturate(150%);
}