h3 {
    text-transform: uppercase;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("picture");
}

a {
    font-size: 16px;
    font-style: italic;
}

.header {
    border-style: solid;
    background-color: lightblue;
}

.content {
    background-color: lightblue;
    height: 80%;
    width: 70%;
}

.footer {
    background-color: lightblue;
}