h2 {
    
    font-size: 24px;
    

}

.card {

    padding: 20px;

    border: 1px solid #ccc;

    margin-bottom: 10px;

    font-size: 24px;

    color: antiquewhite;

}

#one {
    background-color: darkcyan;

}

#two {

    background-color: goldenrod;

}

#three {

    background-color: coral;

}



