body {
    background-image: url(imgs/Mustang.jpg);
}

h1 {
    text-align: left;
    color: white;

}

h2 {
    text-indent: 2cm;
}

p {
    color: black;
    text-indent: 2cm;
}

footer {
    text-align: center;
    color: blue;
    background-color: black;
}

article {
    background-color: white;
    opacity: .6;
    color: black;
}