button {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#Padding {
    padding: 10px 20px;
}

.primary-btn {
    background-color: #007bff;
}

.secondary-btn {
    background-color: #6c757d;
}

.danger-btn {
    padding: 10px 40px;
    background-color: #dc3545;
}